.navbar {
    margin: 0;
    padding: 0;
    background: #2D2D2A;
    color: #fff;
}

.navbar-brand {
    padding-bottom: 10px;
}

.nav-item {
    padding-right: 5px;
    color: #fff;
}

.seperator {
    color: #7a6655;
}

.green {
    font-weight: 500;
    animation: correct 0.5s;
}

@keyframes correct {
    0% {
        color: white;
    }

    25% {
        color: #3bb273;
    }

    75% {
        color: #3bb273;
    }

    100% {
        color: white;
    }
}

.red {
    font-weight: 500;
    animation: incorrect 0.5s;
}

@keyframes incorrect {
    0% {
        color: white;
    }

    25% {
        color: #e15554;
    }

    75% {
        color: #e15554;
    }

    100% {
        color: white;
    }
}